form{
    margin: 50px auto;
    width: 500px;
    height: 500px;
    background-color: rgb(168, 122, 122);
}

label{
width: 150px ;
color: antiquewhite;
margin: 25px 50px 25px 0px;
font-size: 29px;
}

#button{
background-color: blueviolet;
border-radius: 1px;
color: white;
width: 170px;
text-align: center;
padding: 5px 15px;
margin: 50px 120px;
font-size: 19px;
}

.row{
width: 400px;
margin: 20px auto;
font-size: 25px;
}

input{
height: 40px;
width: 150px;
padding-left: 20px;
font-size: 20px;
}

#situacaofinal{
color: white;
font-size:  30px;
text-align: center;
}





